.share-tip { 
    position: fixed; background: url(/wxshare/images/share-tip.png) no-repeat; background-size: 100% 100%; left: 0; top: 0; bottom: 0; right: 0;z-index: 10050;
    &#open-in-br { background-image: url(../../common/images/open-in-br.png);}
}